﻿
<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
           
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item">
                    <a href="/Dashboard/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-home"></i></span>
                        <span class="pc-mtext">Dashboard</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/Default/Index" target="_blank" class="pc-link" >
                        <span class="pc-micon"><i class="ti ti-world"></i></span>
                        <span class="pc-mtext">Siteye Git</span>
                    </a>
                </li>

                <li class="pc-item pc-caption">
                    <label>Menü</label>
                    <i class="ti ti-dashboard"></i>
                </li>
                <li class="pc-item">
                    <a href="/Banner/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-heading"></i></span>
                        <span class="pc-mtext">Kapak Yazısı</span>
                    </a>
                </li>  
                <li class="pc-item">
                    <a href="/Category/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-list"></i></span>
                        <span class="pc-mtext">Kategoriler</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/Product/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-box"></i></span>
                        <span class="pc-mtext">Ürünler</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/Testimonial/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-user"></i></span>
                        <span class="pc-mtext">Referanslar</span>
                    </a>
                </li>
                             
                <li class="pc-item">
                    <a href="/Message/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-mail"></i></span>
                        <span class="pc-mtext">Gelen Kutusu</span>
                    </a>
                </li>








            </ul>
            <div class="card text-center">
            </div>
        </div>
    </div>
</nav>